<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('./head.ejs'); %>
  <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body>

<%- include('./navbar'); %>
<br>
<div class="container">
  <h2>Add New Place</h2>
  <form class="form-horizontal" action="formUpload" enctype="multipart/form-data" method="POST" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-2" for="country">Country:</label>
      <div class="col-sm-10">
        <select class="form-control" id="country" name="country" onchange="filterStates()" required>
            <option value="" selected disabled>Please Select Country</option>
            <% for(var i=0; i < countryList.length; i++) { %>
                <option><%= countryList[i] %></option>
           <% } %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="state">State:</label>
      <div class="col-sm-10">          
        <select class="form-control" id="state" name="state" required>
            <option value="" selected disabled>Please Select State</option>
        </select>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="state">District:</label>
        <div class="col-sm-10">          
          <select class="form-control" id="district" name="district" required>
              <option value="" selected disabled>Please Select District</option>
              <option>Kurnool</option>
              <option>Chitoor</option>
          </select>
        </div>
    </div>
    
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="place_name">Place Name:</label>
      <div class="col-sm-10">          
        <input class="form-control" name="place_name" id="place_name" required></input>
      </div>
    </div>  

    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="photos">Upload Image</label>
      <div class="col-sm-10">
        <input type="file" name="multi-files" multiple id="input-files" class="form-control-file border"/>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>



<script>
  function filterStates(){

    function removeAllChildNodes(parent) {
      while (parent.firstChild) {
          parent.removeChild(parent.firstChild);
      }
    }

    var x = document.getElementById('country').value;
    const container = document.querySelector('#state');
    removeAllChildNodes(container);
    
    const userAction = async () => {
        const response = await fetch('http://localhost:3000/api/states/'+x);
        const myJson = await response.json();
        console.log(myJson[0]);
        for(i=0;i<myJson.length;i++){
          var y =document.getElementById('state');
          var option = document.createElement("option");
          option.text=myJson[i];
          y.add(option);
        }
      }
      userAction();

  }
</script>
</body>
</html>
