<!DOCTYPE html>
<html>
<head>
    <%- include('./head') %>
    <style>
        button{
            float: right;
        }
    </style>
</head>
<body>
    <%- include('./navbar') %>

   <form action="createBlog"><button class="btn btn-success">Create Blog</button></form>
    <%- include('./footer.ejs') %>
    
</body>

</html>