<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head') %>
        <style>
            .saveButton , .place_description{
                text-align: center;
            }
            .place_description{
                padding-top:5px;
            }
            input{
                margin:4px;
            }
            #delimiter{
                text-align: center;
                font-weight: bold;
            }

        </style>
    </head>
    <body>

        <%- include('./navbar') %>
        
        <h2 class="place_description">Describe About the Place</h2>
        <p class="saveButton"><button class="btn btn-success" id="saveButton">Publish</button></p>
        <div class="container">
            <div class="left">
                <div id="editorjs">
                    
                </div>
                
            </div>
            <div id="output">

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
        <script
            src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
        <script src="js/main.js"></script>
    </body>
</html>
